#set($descriptor=$MAP.get("descriptor"))
#set($taskCode=$descriptor.taskCode)
#set($initCurrentStep=$descriptor.initCurrentStep)
#set($welcomeUtterance=$descriptor.welcomeUtterance)
#set($finalUtterance=$descriptor.finalUtterance)
#set($closeUtterance=$descriptor.closeUtterance)
#set($prevExtendProb=$descriptor.prevExtendProb)
#set($prevConfirmExtendProb=$descriptor.prevConfirmExtendProb)
#set($prevDisconfirmExtendProb=$descriptor.prevDisconfirmExtendProb)
#set($pubGroundUtil=$descriptor.pubGroundUtil)
#set($pubConfirmUtil=$descriptor.pubConfirmUtil)
#set($pubAskRepeatUtil=$descriptor.pubAskRepeatUtil)
#set($qnas=$descriptor.qnas)
#set($judgmentQnas=$descriptor.judgmentQnas)
#set($slotQnas=$descriptor.slotQnas)
<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<domain>
#parse("/vm/opendial/initialstate.vm")
#parse("/vm/opendial/import.vm")
#parse("/vm/opendial/1_uu2au.vm")
#parse("/vm/opendial/2_au2slot.vm")
#parse("/vm/opendial/3_slot2am.vm")
#parse("/vm/opendial/4_am2nextstep.vm")
#parse("/vm/opendial/5_nextstep2um.vm")
#parse("/vm/opendial/5_busihandle2nextstep.vm")
#parse("/vm/opendial/6_am2um.vm")
#parse("/vm/opendial/settings.vm")
</domain>